{% extends "base.html" %}

{% block title %}Create New Client Group{% endblock %}
{% block content %}
<div class="cb-container">
    <h1 class='cb-header'>Create New Client Group</h1>
    <form method="POST" action="{{ url_for('group.create')}}">
       <div >
           <input type="text" name="name" placeholder="Group Name" autofocus="">
       </div>
       <div class="cb-bar padding-16">
           <button type='submit' class="cb-button cb-teal">Submit</button>
           <a href="{{ url_for('main.index') }}" class="cb-button cb-teal">Cancel</a>
       </div>
    </form>
</div>
{% endblock %}