{% extends "base.html" %}

{% block title %}Select Client Group{% endblock %}
{% block content %}
{# needs groups; list of SMSGroup() #}
<div class="cb-container">
    <h1 class='cb-header'>Select Client Group</h1>
    <form method="POST" action="{{ url_for('group.select') }}">
        <div>
        {% if groups %}
            {% for group in groups %}
                <input type="radio" id="choice_{{ group.id }}" name="selection" value="{{ group.id }}">
                <label for="choice_{{ group.id }}">{{ group.name }}</label><br>
            {%endfor%}
        {% else %}
                <p>No groups available</p>
        {% endif %}
        </div>
        <div class="cb-bar padding-16">
           <button type='submit' class="cb-button cb-teal">Select</button>
           <a href="{{ url_for('main.index') }}" class="cb-button cb-teal">Cancel</a>
       </div>
    </form> 
</div>
{% endblock %}