{% extends "base.html" %}

{% block title %}Change Password{% endblock %}
{% block content %}
{# needs user = WebUser() #}
<div class="cb-container">
    <h1 class='cb-header'>Change Password for Username: {{ user.User }}</h1>
    <form method="POST" action="{{ url_for('auth.change_password', user_id = user.id) }}">
        <div>
            <input class="input is-large" type="password" name="current_password" 
                    placeholder="Current Password">
        </div>
        <div>
            <input class="input is-large" type="password" name="new_password" 
                    placeholder="New Password">
        </div>
        <div>
            <input class="input is-large" type="password" name="verify_password" 
                    placeholder="Verify New Password">
        </div>
            <div class="cb-bar padding-16">
           <button type='submit' class="cb-button cb-teal">Submit</button>
           <a href="{{ url_for('main.index') }}" class="cb-button cb-teal">Cancel</a>
       </div>
    </form>
</div>
{% endblock %}
