{% extends "base.html" %}

{% block title %}Change Password{% endblock %}
{% block content %}
{# needs user = WebUser() #}
<div class="w3-container">
    <h1 class='w3-padding-16' style="margin-top: 32px;">Change Password for Username: {{ user.User }}</h1>
    <form method="POST" action="{{ url_for('auth.change_password', user_id = user.id) }}">
        <div>
            <input class="input is-large" type="password" name="current_password" 
                    placeholder="Current Password">
        </div>
        <div>
            <input class="input is-large" type="password" name="new_password" 
                    placeholder="New Password">
        </div>
        <div>
            <input class="input is-large" type="password" name="verify_password" 
                    placeholder="Verify New Password">
        </div>
            <div class="w3-bar w3-padding-16">
           <button type='submit' class="w3-button w3-black">Submit</button>
           <a href="{{ url_for('main.index') }}" class="w3-button w3-black">Cancel</a>
       </div>
    </form>
</div>
{% endblock %}
