{% extends "base.html" %}

{% block title %}Create New User{% endblock %}
{% block content %}
<div class="cb-container">
    <h1 class='cb-header'>Create New User</h1>
    <div>
        <form method="POST" action="{{ url_for('auth.create') }}">
            <div>
                <input type="text" name="user_name" placeholder='User Name' autofocus="">
            </div>    
            <div class="cb-bar padding-16">
                <button type='submit' class="cb-button cb-teal">Create</button>
                <a href="{{ url_for('main.index') }}" class="cb-button cb-teal">Cancel</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
