{% extends "base.html" %}

{% block title %}Edit User{% endblock %}
{% block content %}
{# needs user = WebUser() #}
<div class="w3-container">
    <h1 class='w3-padding-16' style="margin-top: 32px;">Edit User : {{ user.User }}</h1>
    <form method="POST" action="{{ url_for('auth.edit', user_id = user.id) }}">            
        <div>
            <input class="input is-large" type="text" name="first" value="{{ user.first }}" autofocus="">
        </div>
        <div>
            <input class="input is-large" type="text" name="last" value="{{ user.last }}" autofocus="">
        </div>
       
        <div>                 
            <input class="input is-large" type="email" name="email" value="{{ user.email }}" autofocus="">
        </div>
        <div>
            <input class="input is-large" type="text" name="sms" value="{{ user.sms }}" autofocus="">
        </div>

        <div>
            <input  class="input is-large" type="text" name="voice" value="{{ user.voice }}" autofocus="">
        </div>
        <div>
            <label for="is_sms">Use SMS Account</label>
            <input type="checkbox" name="is_sms" {% if user.sms %}checked{%endif%}/>
        </div>

        <div class="w3-bar w3-padding-16">
            <button type='submit' class="w3-button w3-black">Submit</button>
            <a href="{{ url_for('main.index') }}" class="w3-button w3-black">Cancel</a>
        </div>
    </form>
</div>
{% endblock %}
