{% extends 'base.html' %}

{% block title %}List Users{% endblock %}
{% block content %}
<div class="w3-container">
    <h1 class='w3-padding-16' style="margin-top: 32px;">User List</h1>
    <form method="POST" action="{{ url_for('auth.get_profile') }}">
        {% if users %}
            {% for user in users %}
                <div>
                    {% if user.email %}
                    <input class"" type="radio" id="choice_{{ user.id }}"
                                   name="selection" value="{{ user.id }}">
                            <label for="choice_{{ user.id }}">{{ user.User }}"("{{ user.first }} {{ user.last }}")"</label>
                    {% else %}
                        <p>Username: {{ user.User }}"(unregistered)"</p>
                    {% endif %}
                </div>
            {% endfor %}
        {% else %}
            <h2>No users found in database.</h2>
        {% endif %}
        <div class="w3-bar w3-padding-16">
           <button type='submit' class="w3-button w3-black">Select</button>
           <a href="{{ url_for('main.index') }}" class="w3-button w3-black">Cancel</a>
        </div>
    </form>
</div>
{% endblock %}
