{% extends 'base.html' %}

{% block title %}List Users{% endblock %}
{% block content %}
{# needs users a list of WebUser() #}
<div class="cb-container">
    <h1 class='cb-header'>User List</h1>
    <form method="POST" action="{{ url_for('auth.list') }}">
        {% if users %}
            {% for user in users %}
                <div>
                    {% if user.email %}
                    <input class"" type="radio" id="choice_{{ user.id }}"
                                   name="selection" value="{{ user.id }}">
                            <label for="choice_{{ user.id }}">{{ user.User }}"("{{ user.first }} {{ user.last }}")"</label>
                    {% else %}
                        <p>Username: {{ user.User }}"(unregistered)"</p>
                    {% endif %}
                </div>
            {% endfor %}
        {% else %}
            <h2>No users found in database.</h2>
        {% endif %}
        <div class="cb-bar padding-16">
           <button type='submit' class="cb-button cb-teal">Select</button>
           <a href="{{ url_for('main.index') }}" class="cb-button cb-teal">Cancel</a>
        </div>
    </form>
</div>
{% endblock %}
