{% extends "base.html" %}

{% block title %}User Login{% endblock %}
{% block content %}
<div class="w3-container">
    <h1 class='w3-padding-16' style="margin-top: 32px;">User Login</h1>
    <form method="POST" action="{{ url_for('auth.login')}}">
       <div >
           <input type="text" name="User" placeholder="User Name" autofocus="">
       </div>
       <div >
           <input type="password" name="password" placeholder="Password">
       </div>
       <div >
           <label class="checkbox">
               <input type="checkbox" name="remember">
                   Remember Me
           </label>
       </div>
       <div class="w3-bar w3-padding-16">
           <button type='submit' class="w3-button w3-black">Login</button>
           <a href="{{ url_for('main.index') }}" class="w3-button w3-black">Cancel</a>
       </div>
    </form>
</div>
{% endblock %}
