{% extends "base.html" %}

{% block title %}User Login{% endblock %}
{% block content %}
<div class="cb-container">
    <h1 class='cb-header'>User Login</h1>
    <form method="POST" action="{{ url_for('auth.login')}}">
       <div >
           <input type="text" name="User" placeholder="User Name" autofocus="">
       </div>
       <div >
           <input type="password" name="password" placeholder="Password">
       </div>
       <div >
           <label class="checkbox">
                Remember Me<input type="checkbox" name="remember" style="margin-left: 10px;" />
           </label>
       </div>
       <div class="cb-bar padding-16">
           <button type='submit' class="cb-button cb-teal">Login</button>
           <a href="{{ url_for('main.index') }}" class="cb-button cb-teal">Cancel</a>
       </div>
    </form>
</div>
{% endblock %}
