{% extends "base.html" %}

{% block title %}Claim My Username{% endblock %}
{% block content %}
<div class="w3-container">
    <h1 class='w3-padding-16' style="margin-top: 32px;">Claim My Username</h1>
    <form method="POST" action="{{ url_for('auth.lookup') }}">
        <div>
            <input class="input is-large" type="text" name="user_name" placeholder='User Name' autofocus="">
        </div>
        <div class="w3-bar w3-padding-16">
           <button type='submit' class="w3-button w3-black">Submit</button>
           <a href="{{ url_for('main.index') }}" class="w3-button w3-black">Cancel</a>
       </div>
    </div>
</div>
{% endblock %}
