{% extends 'base.html' %}

{% block title %}{{ user.first }} &nbls {{ user.last }}{% endblock %}
{% block content %}
<div class="w3-container">
    <h1 class='w3-padding-16' style="margin-top: 32px">{{ user.first }} {{ user.last }}</h1>
    {% if user.email %}
        <p>Username: {{ user.User }}</p>
        <p>Email: {{ user.email }}</p>
        <p>SMS: {{ user.sms }}</p>
        <p>Voice Phone: {{ user.voice }}</p>
        {% if user.translate %}
            <p>Requests translation to spanish.</p>
        {% endif %}
        {% if user.is_sms %}
            <p>Has SMS access.</p>
        {% endif %}
        {% if user.is_admin %}
            <p>Has administration privileges.</p>
        {% endif %} 
    {% endif %}
    @account.post('/<int:user_id>/add_user')
    {% if session['account_name'] %}
    <a href="{{ url_for('account.add_user', user_id = user.id ) }}" 
                   class="w3-bar-item w3-button w3-theme-l1">Add to {{session['account_name']}} Account</i></a>
    {% endif %}
    <a href="{{ url_for('auth.edit', user_id = user.id ) }}" 
                   class="w3-bar-item w3-button w3-theme-l1"><i class='fas fa-pencil-square-o'></i></a>
    <a href="{{ url_for('auth.delete', user_id = user.id ) }}" 
                   class="w3-bar-item w3-button w3-theme-l1"><i class='fas fa fa-trash'></i></a>
    <a href="{{ url_for('main.index' ) }}" 
                   class="w3-bar-item w3-button w3-theme-l1">Cancel</a>
</div>
{% endblock %}