{% extends "base.html" %}

{% block title %}Claim Username{% endblock %}
{% block content %}
{# needs user = WebUser() #}
<div class="w3-container">
    <h1 class='w3-padding-16' style="margin-top: 32px;">Claim Username: {{ user.User }}</h1>
    <form method="POST" action="{{ url_for('auth.register', user_id = user.id) }}">
        <div>
            <input  type="password" name="password" placeholder="Password">
        </div>
        <div>
            <input  type="password" name="repeat_password" placeholder="Verify Password">
        </div>
        <div>
            <input  type="text" name="first" placeholder="First Name" autofocus="">
        </div>
        <div>
            <input  type="text" name="last" placeholder="Last Name" autofocus="">
        </div>
        <div> 
            <input  type="email" name="email" placeholder="Email" autofocus="">
        </div>
        <div>
            <input  type="text" name="sms" placeholder="SMS Phone Number" autofocus="">
        </div>
        <div>
            <input   type="text" name="voice" 
            placeholder="Voice Phone Number (optional)" autofocus="">
        </div>
        <div>
            <label for="is_sms">Use SMS Account</label>
            <input type="checkbox" name="is_sms" checked/>
        </div>
        <div>
            <label for="translate">Translate from English to Spanish</label>
            <input type="checkbox" name="translate" checked/>
        </div>
        <div class="w3-bar w3-padding-16">
           <button type='submit' class="w3-button w3-black">Submit</button>
           <a href="{{ url_for('main.index') }}" class="w3-button w3-black">Cancel</a>
       </div>
    </form>
</div>
{% endblock %}
