{% extends "base.html" %}

{% block title %}User Search{% endblock %}
{% block content %}
<div class="cb-container">
    <h1 class='cb-header'>User Search</h1>
    <form method="POST" action="{{ url_for('auth.select') }}">
        <div>
            <label for="select_all">List All Users</label>
            <input type="checkbox" name="select_all"/>
        </div>
        <div>
            <input  type="text" name="username" placeholder="Username"/>
        </div>
        <div>
            <input  type="text" name="firstname" placeholder="First Name"/>
        </div>
        <div>
            <input  type="text" name="lastname" placeholder="Last Name"/>
        </div>             
        <div class="cb-bar padding-16">
           <button type='submit' class="cb-button cb-teal">Select</button>
           <a href="{{ url_for('main.index') }}" class="cb-button cb-teal">Cancel</a>
        </div>
    </form>
</div>
{% endblock %}
