{% extends "base.html" %}

{% block title %}One Time Password{% endblock %}
{% block content %}
{# needs user = WebUser() #}
<div class="cb-container">
    <h1 class='cb-header'>New One Time Pass Code for Username: {{ user.User }}</h1>
    <form method="POST" action="{{ url_for('auth.two_factor', user_id = user.id) }}">
        <div>
            <input class="input is-large" type="text" name="one_time_pass_code" 
                               placeholder="One Time Pass Code">
        </div>
        <div class="cb-bar padding-16">
            <button type='submit' class="cb-button cb-teal">Login</button>
            <a href="{{ url_for('main.index') }}" class="cb-button cb-teal">Cancel</a>
        </div>
    </form>
</div>
{% endblock %}
