.w3-sidebar {
    z-index: 0;
    width: 250px;
    top: 43px;
    bottom: 0;
    height: inherit;
}
.w3-dropdown-content {
    z-index: 12;
}
.w3-bar 
{
    overflow: visible;
}
.cb-under-navbar
{
    margin-top: 48px;
}


@media only screen and (max-width: 750px) {
    .cb-hide-small {
        display: none;
    }
    .cb-show-small {
        display: block;
    }
    .cb-col-one-of-two {
        width: 100%;
    }
    .cb-col-two-of-two {
        width: 100%;
    }
}
@media only screen and (min-width: 751px) and (max-width: 1225px) {
    .cb-hide-medium {
        display: none;
    }
    .cb-show-medium {
        display: block;
    }
    .cb-col-one-of-two {
        max-width: 850px;

    }
    .cb-col-two-of-two {
        min-width: 325px;
    }
}
@media only screen and (min-width: 1226px) {
    .cb-hide-large {
        display: none;
    }
    .cb-show-large {
        display: block;
    }
    .cb-col-one-of-two {
        width: 70%;
    }
    .cb-col-two-of-two {
        width: 30%;
    }
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
}