.w3-sidebar {
    z-index: 0;
    width: 250px;
    top: 43px;
    bottom: 0;
    height: inherit;
}
.w3-dropdown-content {
    z-index: 12;
}
.w3-bar 
{
    overflow: visible;
}
.cb-under-navbar
{
    margin-top: 48px;
}
