
.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 43px;
}

.sidenav ul{
    list-style-type: none
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  display: block;
}

.cb-container {
    padding:0.01em 16px;

}.cb-container:after, cb-container:before {
    content:"";
    display:table;
    clear:both;
}

.cb-header {
    color: var(--top-bar-color);
    margin-top: 32px;
    padding-top:16px;
    padding-bottom:16px;
}

.cb-justify p {
    text-align:justify;  
    text-justify:inter-word;
}


.cb-teal {
  background-color: var(--top-bar-color);
  color: black;
}

.cb-hover-teal:hover {
  background-color: var(--hover-color)!important;
}

.cb-links a {
    text-decoration: underline;
}

.padding-16 {
    padding-top:16px;
    padding-bottom:16px;
}

.padding-64 {
    padding-top:64px;
    padding-bottom:64px;
}

.sidenav {
  background-color: var(--top-bar-color);
}

.sidenav a:hover {
  color: black;
}

.w3-top {
  z-index: 5;
}

.w3-sidebar {
    z-index: 0;
    width: 250px;
    top: 43px;
    bottom: 0;
    height: inherit;
}
.w3-dropdown-content {
    z-index: 12;
}

.w3-bar 
{
    overflow: visible;
    position: relative;
    z-index: 10;
}

.cb-main, #main{
    transition:margin-left .4s
}


.cb-bar
{   
    white-space: nowrap;
    flex-wrap: nowrap;
    max-width: 100%;
    overflow-x: scroll;
}

.cb-bar .cb-bar-item {
    padding:8px 16px;
    float:left;
    width:auto;
    border:none;
    display:block;
    outline:0
}

.cb-bar .cb-button {
    white-space: normal;
}


.cb-bar:before, .cb-bar:after
{
    content:"";
    display:table;
    clear:both;
}

.cb-bar .cb-bar-tab 
{
    padding:8px 16px;
    float:left;
    width:auto;
    display: inline-block;
    border:none;
    border-radius: 10px 10px 0px 0px;
    outline:0
}

.cb-button {
    border:none;
    display:inline-block;
    padding:8px 16px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    text-align:center;
    cursor:pointer;
    white-space:nowrap;

    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}

.cb-button:disabled {}
    cursor:not-allowed;
    opacity:0.3;
}

.cb-button:hover {
    color:#000!important;
    background-color:#ccc!important;
}

.cb-under-navbar
{
    margin-top: 48px;
}
.cb-close {
  cursor: pointer;
  position: absolute;
  top: 20%;
  right: 0%;
  padding: 12px 16px;
  transform: translate(0%, -50%);
}

@media only screen and (max-width: 750px) {
    .cb-hide-small {
        display: none;
    }
    .cb-show-small {
        display: block;
    }
    .cb-show-small.cb-span {
        display: contents;
    }
    .cb-col-one-of-two {
        width: 100%;
    }
    .cb-col-two-of-two {
        width: 100%;
    }
    .sidenav {
        display: none;
    }
    /* stack tabs accordian style on small screens */
    .cb-bar .cb-bar-tab 
    {
       padding: 10px;
       margin: 0px;
       width: 100%;
       border-radius: 0px 0px 0px 0px;
       display: block;
    }
    .cb-bar {
        display: block;
    }
    .cb-container 
    {
        padding: 20px !important;
    }
}
@media only screen and (min-width: 751px) and (max-width: 1225px) {
    .cb-hide-medium {
        display: none;
    }
    .cb-show-medium {
        display: block;
    }
    .cb-show-medium.cb-span {
        display: contents;
    }
    .sidenav {
        display: none;
    }
    .cb-col-one-of-two {
        float: left;
        width: calc(100% - 400px);
    }
    .cb-col-two-of-two {
        width: 400px;
    }
    .cb-bar .cb-bar-item 
    {
        display: inline-block!important;
    }
    .cb-container 
    {
        padding: 40px !important;
    }
}
@media only screen and (min-width: 1226px) {
    .cb-hide-large {
        display: none;
    }
    .cb-show-large {
        display: block;
    }
    .cb-show-large.cb-span {
        display: contents;
    }
    .cb-col-one-of-two {
        width: 65%;
    }
    .cb-col-two-of-two {
        width: 35%;
        min-width: 400px;
    }
    .cb-container 
    {
        padding: 80px !important;
    }
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
    z-index: 12;

}