
/* Style the tab buttons */
:root {
  --border-color: grey;
  --active-color:   #F0FFF0;
  --hover-color:    #b6d1ca;
  --inactive-color: #edf5f3;
  --outgoing-color: #a7dceb;
  --pending-color:  #2fadd0;
  --failed-color:   #ffcc99;
  --incoming-color: #d3edf5;
  --time-color:     #717475;
}

#tab_parent button, #group_parent button {
  cursor: pointer;
  padding: 10px;
  margin-right: 2px;
  transition: 0.3s;
  background-color: var(--inactive-color);
  border-radius: 10px 10px 0px 0px;
  border: 1px  solid var(--border-color);
}
#tab_parent button:hover, #group_parent button:hover {
  background-color: var(--hover-color)
}

#tab_parent button.active, #group_parent button.active {
  background-color: var(--active-color); 
  border-bottom: 2px solid var(--active-color);
  position: relative;
  z-index: 5;
}

#chat_parent, #group_list, #group_multiple, #group_other_client {
  background-color: var(--active-color);
  border-top: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  position: relative;
  height: 100vh;
  position: relative;
  margin-top: -2px;
  z-index: 0;
}
/*#chat_parent {
  overflow: auto;
  white-space: nowrap;
}*/

.chat-container {
  border: 1px solid var(--border-color);
  border-radius: 25px;
  padding: 10px;
  margin: 10px 0;
}

.chat-outgoing {
  border-color: var(--border-color);
  background-color: var(--outgoing-color);
  margin-left: 15%;

}
.status-queued, .status-sent {
  background-color: var(--pending-color);
}
.status-delivered {
  background-color: var(--outgoing-color);
}
.status-undelivered, .status-failed {
  background-color: var(--failed-color);
}
.chat-outgoing span[name='flag-failure'] {
  display: none;
}
.chat-outgoing.status-failed span[name='flag-failure'] {
  display: block;
}

.chat-incoming {
  border-color: var(--border-color);
  background-color: var(--incoming-color);
  margin-right: 15%;
}

.chat-container::after {
  content: "";
  clear: both;
  display: table;
}

.chat-time-right {
  float: right;
  color: var(--time-color);
}

.chat-time-left {
  float: left;
  color: var(--time-color)
}
.group-label {
  height: 20px;
}

/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  min-height: 180px;
  border-radius: 25px;
  padding: 10px;
  background-color: var(--outgoing-color);
  position: relative;  
  border: 1px solid var(--border-color);
  z-index: 5;
}
.chat-popup span {
  background-color: transparent;
  border-radius: 50%;
  position: absolute;
  top: 5;
  right: 15;
}
.chat-popup span:hover {
  background-color: var(--hover-color);
}
.chat-popup textarea {
  border-radius: 12px;
  padding: 10px;
  min-height: 100px;
}
.chat-popup button, #group_other_client button {
  background-color: var(--inactive-color);
  border-radius: 10px;
  margin: 10px;
  float: right;
}
.chat-popup button:hover, #group_other_client button:hover {
  background-color: var(--hover-color);
}
#group_other_client button.active {
  background-color: var(--active-color);
}
