:root {
  --border-color: grey;
  --active-color:   #F0FFF0;
  --hover-color:    #b6d1ca;
  --inactive-color: #edf5f3;
  --outgoing-color: #a7dceb;
  --pending-color:  #2fadd0;
  --failed-color:   #ffcc99;
  --incoming-color: #d3edf5;
  --time-color:     #717475;
}

.cb-teal {
  background-color: #66B2B2;
  color: black;
}
.cb-hover-teal:hover {
  background-color: #66B2B2!important;
}
