{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <div class="box">
        <h2>{{ account.name }}</h2>
        <ul>
            <li>Sql ID:&nbsp{{ account.id }}</li>
            <li>Owner:&nbsp{{ owner.first+' '+owner.last+' ('+owner.User+') ' }}</li>
            <li>Phone Number:&nbsp{{ account.number }}</li>
            <li>Twilio SID:&nbsp{{ account.sid }}</li>
            <li>
                <p>{{ account.comment }}</p>
            </li>
        </ul>
        <h3>Registered Users</h3>
        <ul>
            {%if users%}
                {% for user in users %}
                    <li>{{ user.first+' '+user.last+' ('+user.User+') ' }}</li>
                {% endfor %}
            {%endif%}
            }
        </ul>
        <br/>
        <form method="GET" action="{{ url_for('main.index') }}"> 
            <button class="button is-block is-info is-large is-fullwidth">Close</button>
        </form>
    </div>
</div>
{% endblock %}
