{% extends "base.html" %}

{% block title %}Create New Account{% endblock %}
{% block content %}
<div class="cb-container">
    <h1 cb-header>Create Account</h1>
    <form method="POST" action="{{ url_for('account.create') }}">
        <div>
            <input class="input is-large" type="text" name="owner_user_name" placeholder='Owner Username' autofocus="">
        </div>
        <div>
            <input class="input is-large" type="text" name="account_name" placeholder='Account Name' autofocus="">
        </div>
        <div>
            <input class="input is-large" type="text" name="number" placeholder='SMS Number' autofocus="">
        </div>
        <div>
            <input class="input is-large" type="text" name="sid" placeholder='Paste Twilio SID Here' autofocus="">
            
        </div>
        <div class="cb-bar padding-16">
            <button type='submit' class="cb-button cb-teal">Create</button>
            <a href="{{ url_for('main.index') }}" class="cb-button cb-teal">Cancel</a>
        </div>
    </form>
</div>
{% endblock %}
