{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">{% block title %}Update Twilio Account{% endblock %}</h3>
    <div class="box">
        <form formmethod="POST" formaction="{{ url_for('account.edit',account_id=account.id) }}">
            <div class="field">
                <div class="control">
                    <label for="owner_user_name">Owner</label>
                    <input class="input is-large" type="text" name="owner_user_name" value='{{ owner.User }}' autofocus=""/>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <label for="account_name">Account Name</label>
                    <input class="input is-large" type="text" name="account_name" value='{{ account.name }}' autofocus=""/>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <label for="number">SMS Number</label>
                    <input class="input is-large" type="text" name="number" value='{{ account.number }}' autofocus=""/>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <label for="sid">Twilio Service ID</label>
                    <input class="input is-large" type="text" name="sid" value='{{ account.sid }}' autofocus=""/>
                </div>
            </div>
            {% if users %}
                <ul>
                    {% for user in users %}
                        <li>
                            {{ user.first  }}&nbsp{{ user.last  }}
                            {% if user.id == owner.id %}(owner){%endif%}
                        </li>
                        <button class="button is-block is-info is-large is-fullwidth" 
                                type="button" >Submit</button>
                    {% endfor %} 
                </ul>    
            {% endif %}
            <button class="button is-block is-info is-large is-fullwidth">Submit</button>
        </form>
        <br/>
        <form formmethod="GET" formaction="{{ url_for('main.index') }}"> 
            <button class="button is-block is-info is-large is-fullwidth">Cancel</button>
        </form>
    </div>
</div>
{% endblock %}
