{% extends "base.html" %}

{% block title %}Update&nbsp{{ account.name }}{% endblock %}
{% block content %}
<div class="w3-container">
    <h1 class='w3-padding-16' style="margin-top: 32px">Update&nbsp{{ account.name }}</h1>
    <div>
        <form method="POST" action="{{ url_for('account.edit',account_id=account.id) }}">
            <div>
                <input type="text" name="owner_user_name" value='{{ owner.User }}' autofocus="">
                <label for="owner_user_name">Owner</label>
            </div>
            <div>
                <input type="text" name="account_name" value='{{ account.name }}' autofocus=""/>
                <label for="account_name">Account Name</label>
            </div>
            <div>
                <input type="text" name="number" value='{{ account.number }}' autofocus=""/>
                <label for="number">SMS Number</label>
            </div>
            <div>
                <input type="text" name="sid" value='{{ account.sid }}' autofocus=""/>
                <label for="sid">SID</label>
            </div>
            <div>
            {% if users %}
            {% for user in users %}
                <p>{{ user.first  }}&nbsp{{ user.last  }}
                    {% if user.id == owner.id %}
                        (owner)
                    {% else %}
                    <a href="{{ url_for('account.delete_user', user_id = user.id, account_id = account.id ) }}" 
                       class="w3-bar-item w3-button"><i class='fa fa-trash' aria-hidden="true"></i></a>
                    {%endif%}
                </p>    
            {% endfor %}
            {% else %} 
                <p>No users on this account</p>
            {% endif %}
            </div>
            <div class="w3-bar w3-padding-16">
                <button type='submit' class="w3-bar-item w3-button w3-black">Submit</button>
                <a href="{{ url_for('account.delete_account', account_id = account.id ) }}" 
                   class="w3-bar-item w3-button w3-theme-l1" onclick="return confirm('Are you sure you want to delete this account?')">
                        <i class='fas fa fa-trash'/></i>
                </a>
                <a href="{{ url_for('main.index') }}" class="w3-bar-item w3-button w3-black">Cancel</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
