{% extends 'base.html' %}

{% block title %}{{ account.name }}{% endblock %}
{% block content %}
{# needs account = SMSAccount() #}
<div class="cb-container">
    <h1 cb-header>{{ account.name }}</h1>
        <p>SMS Phone: {{ account.number }}</p>
        <p>SID:&nbsp{{ account.sid }}</p>
        {% if account.users %}
            {% for user in account.users %}
                <p>{{ user.first  }}&nbsp{{ user.last  }}
                    {% if user.id == account.owner_id %}
                        (owner)
                    {% else %}
                    <a href="{{ url_for('account.delete_user', user_id = user.id, account_id = account.id ) }}" 
                       class="cb-bar-item cb-button"><i class='fa fa-trash' aria-hidden="true"></i></a>
                    {%endif%}
                </p>    
            {% endfor %}
        {% else %} 
                <p>No users on this account</p>
        {% endif %}
        <div class="cb-bar padding-16">
            <a href="{{ url_for('account.edit', account_id = account.id ) }}" 
                               class="cb-bar-item cb-button cb-teal"><i class='fa fa-pencil'></i></a>
            
            <a href="{{ url_for('account.delete_account', account_id = account.id ) }}" 
               class="cb-bar-item cb-button cb-teal" onclick="return confirm('Are you sure you want to delete this account?')">
                <i class='fas fa fa-trash'/>
                </i>
            </a>
            <a href="{{ url_for('account.activate', account_id=account.id) }}" }}" 
               class="cb-bar-item cb-button cb-teal">Select</a>     

            <a href="{{ url_for('main.index' ) }}" class="cb-bar-item cb-button cb-teal">Cancel</a>
        </div>
</div>
{% endblock %}