{% extends "base.html" %}
{% block title %}Admin Dashboard{% endblock %}
{% block sidebar %}

    <li class="cb-hover-teal"><a tabindex="-1" href="{{ url_for('auth.create') }}">Create User Name</a></li>
    <li class="cb-hover-teal"><a tabindex="-1" href="{{ url_for('auth.all') }}">List All Users</a></li>
    <li class="cb-hover-teal"><a tabindex="-1" href="{{ url_for('auth.select') }}">Select User</a></li>
    <li class="cb-hover-teal"><a tabindex="-1" href="{{ url_for('group.create') }}">Create New Client Group</a></li>
    <li class="cb-hover-teal"><a tabindex="-1" href="{{ url_for('account.create') }}">Create New Account</a></li>
    <li class="cb-hover-teal"><a tabindex="-1" href="{{ url_for('sms_client.select') }}">Select Client</a></li>

{% endblock %}

{% block content %}
<!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
    <div class="w3-main" style="margin-left:250px">
        <div class="w3-row w3-padding-64">
            <div class="w3-twothird cb-container">
                <h1 class="w3-text-teal">Administration Dashboard</h1>
                <p>This page is for system administration. Hard to imagine how you could be reading this and not know what it offers.</p>
            </div>
        </div>
    </div>        
{% endblock %}