<!DOCTYPE html>
<html lang="en">
    <head> 
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>{% block title %}Colin Berry MD{% endblock %}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
        
        <link rel="stylesheet" href="{{ url_for('static', filename='css/w3.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/colors.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/cbmd.css') }}">
        <script type="text/javascript" src = "{{ url_for('static', filename = 'javascript/sms.js') }}"/></script>
        {% block header %}{% endblock %}
    </head>
    <body>

<!-- Navbar -->

        <div class="w3-top">
            <div class="w3-bar cb-teal w3-left-align w3-large" >
                
                <!-- the 'hamburger' menu for phones and small screens -->
                <div class="w3-bar-item dropdown">
                    <button class="btn btn-default dropdown-toggle cb-show-medium cb-show-small cb-hide-large" type="button" data-toggle="dropdown">
                        <i class="fa fa-bars"></i>
                    </button>
                    <ul class="dropdown-menu">
                    {% if current_user.is_authenticated %}
                        <li class="dropdown-submenu">
                            <a class="test" tabindex="-1">Current User: &nbsp{{ current_user.User }}&nbsp<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a tabindex="-1" href="{{ url_for('auth.logout') }}">
                                    Logout
                                </a></li>
                                <li><a tabindex="-1" href="{{ url_for('auth.change_password',user_id=current_user.id) }}" >
                                    Change Password
                                </a></li>
                                <li><a tabindex="-1" href="{{ url_for('auth.profile',user_id=current_user.id) }}" >
                                    Profile
                                </a></li>
                            </ul>
                        </li>
                    {% endif %}
                    
                    {% if current_user.is_sms %}
                        <!-- select or manage account -->
                        {% if session['account_id'] %}
                        <li class="dropdown-submenu">
                            <a class="test" tabindex="-1">
                            Account: &nbsp{{ session['account_name'] }}&nbsp
                            <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a tabindex="-1" href="{{ url_for('account.close') }}" >Close Account</a></li>
                                <li><a tabindex="-1" href="{{ url_for('account.select') }}">Change Account</a></li>
                                <li><a tabindex="-1" onclick="alert('Default account set.');" 
                                        href="{{ url_for('account.default',account_id=session['account_id']) }}">Set as Default</a></li>
                                <li><a tabindex="-1" href="{{ url_for('account.profile',account_id=session['account_id']) }}">Account Profile</a></li>
                                <li><a tabindex="-1" href="{{ url_for('account.edit',account_id=session['account_id']) }}">Edit Account</a></li>
                                <li><a tabindex="-1" href="{{ url_for('auth.select') }}">Add User to Account</a></li>
                            </ul>
                        </li>
                        {% else %}
                        <li><a tabindex="-1" href="{{ url_for('account.select') }}"  
                           class="">Select Account</a></li>
                        {% endif %}

                        {% if session['group_id'] %}
                        <li class="dropdown-submenu">
                            <a class="test" tabindex="-1">
                            Group:&nbsp{{ session['group_name'] }}
                            <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a tabindex="-1" href="{{ url_for('group.close') }}" >Close Group</a></li>
                                <li><a tabindex="-1" href="{{ url_for('group.select') }}">Change Group</a></li>
                                <li><a tabindex="-1" onclick="alert('Default group set.');" 
                                        href="{{ url_for('group.default',group_id=session['group_id']) }}">Set as Default</a></li>
                                <li><a tabindex="-1" href="{{ url_for('group.profile',group_id=session['group_id']) }}">Group Profile</a></li>
                                <li><a tabindex="-1" href="{{ url_for('sms_client.select') }}">Add Client to Group</a></li>
                            </ul>
                        </li>
                        {% else %}
                        <li><a tabindex="-1" href="{{ url_for('group.select') }}"  
                           class="">Select Group</a></li>
                        {% endif %}
                    {% else %}
                        <li><a tabindex="-1" href="{{ url_for('sms_client.create') }}">Registration</a></li>
                        <li><a tabindex="-1" href="{{ url_for('sms_client.create') }}">Claim Username</a></li>
                        <li><a tabindex="-1" href="{{ url_for('sms_client.create') }}">Contact Us</a></li>
                    {% endif %}
                    </ul>
                </div>


                <a href="{{ url_for('main.index') }}" 
                   class="w3-bar-item w3-button"><i class='fa fa-home'></i></a>
 
                {% if current_user.is_admin %}
                <a href="{{ url_for('main.admin') }}"
                   class="w3-bar-item w3-button w3-hover-white"><i class="fa fa-gear"></i></a>
                {% endif %}

                {% if (session['account_id'] and current_user.is_sms) %}
                <div class="w3-dropdown-hover">
                    <a href="{{ url_for('message.list') }}" 
                       class="w3-bar-item w3-button  w3-hover-white"><i class="fa fa-comment"></i>
                       <div class="w3-dropdown-content w3-card-4 w3-left w3-left-align" >
                            Messaging dashboard
                        </div>
                   </a>
                </div>
                {% endif %}


                {% if current_user.is_authenticated %}
                <div class="w3-dropdown-hover cb-hide-small cb-hide-medium cb-show-large">
                    <a class="w3-bar-item w3-button  w3-hover-white">
                        Current User: &nbsp{{ current_user.User }}&nbsp
                        <i class="fa fa-caret-down"></i>
                    </a>
                    <div class="w3-dropdown-content w3-bar-block w3-card-4">
                        <a href="{{ url_for('auth.logout') }}" 
                            class="w3-bar-item w3-button  w3-hover-white">
                            Logout
                        </a>
                        <a href="{{ url_for('auth.change_password',user_id=current_user.id) }}" 
                            class="w3-bar-item w3-button  w3-hover-white">
                            Change Password
                        </a>
                        <a href="{{ url_for('auth.profile',user_id=current_user.id) }}" 
                            class="w3-bar-item w3-button  w3-hover-white">
                            Profile
                        </a> 
                    </div>
                </div>
                {% endif %}

                {% if current_user.is_sms %}
                    <!-- select or manage account -->
                    {% if session['account_id'] %}
                    <div class="w3-dropdown-hover cb-hide-small cb-hide-medium cb-show-large">
                        <a class="w3-bar-item w3-button  w3-hover-white">
                            Account: &nbsp{{ session['account_name'] }}
                            <i class="fa fa-caret-down"></i>
                        </a>
                        <div class="w3-dropdown-content w3-bar-block w3-card-4">
                            <a href="{{ url_for('account.close') }}" 
                               class="w3-bar-item w3-button  w3-hover-white">
                                Close Account
                            </a>
                            <a href="{{ url_for('account.select') }}" 
                               class="w3-bar-item w3-button  w3-hover-white">
                                Change Account
                            </a>
                            <a href="{{ url_for('account.default',account_id=session['account_id']) }}" 
                                onclick="alert('Default account set.');" 
                               class="w3-bar-item w3-button  w3-hover-white">
                                Set as default Account
                            </a>
                            <a href="{{ url_for('account.profile',account_id=session['account_id']) }}" 
                               class="w3-bar-item w3-button  w3-hover-white">
                                Account Profile
                            </a>
                            <a href="{{ url_for('account.edit',account_id=session['account_id']) }}" 
                               class="w3-bar-item w3-button  w3-hover-white">
                                Edit Account
                            </a>
                            <a href="{{ url_for('auth.select') }}" 
                               class="w3-bar-item w3-button  w3-hover-white">
                                Add User to Account
                            </a>
                        </div>
                    </div>
                    {% else %}
                    <div class="cb-hide-small cb-hide-medium cb-show-large">
                        <a href="{{ url_for('account.select') }}"  
                           class="w3-bar-item w3-button w3-hover-white">Select Account</a>
                    </div>
                    {% endif %}
                
                    {% if session['group_id'] %}
                    <!-- select or manage group -->
                    <div class="w3-dropdown-hover cb-hide-small cb-hide-medium cb-show-large">
                        <a class="w3-bar-item w3-button  w3-hover-white">
                            Group:&nbsp{{ session['group_name'] }}
                            <i class="fa fa-caret-down"></i>
                        </a>
                        <div class="w3-dropdown-content w3-bar-block w3-card-4">
                            <a href="{{ url_for('group.close') }}" 
                               class="w3-bar-item w3-button  w3-hover-white">
                                Close Group
                            </a>
                            <a href="{{ url_for('group.select') }}" 
                               class="w3-bar-item w3-button  w3-hover-white">
                                Change Group
                            </a>
                            <a href="{{ url_for('group.default',group_id=session['group_id']) }}" 
                               onclick="alert('Default group set.');" 
                               class="w3-bar-item w3-button  w3-hover-white">
                                Set as Default Group
                            </a>
                            <a href="{{ url_for('group.profile',group_id=session['group_id']) }}" 
                               class="w3-bar-item w3-button  w3-hover-white">
                                Group Profile
                            </a>
                            <a href="{{ url_for('sms_client.select') }}" 
                               class="w3-bar-item w3-button  w3-hover-white">
                                Add Client to Group
                            </a>
                        </div>
                    </div>
                    {% else %}
                    <div class="cb-hide-small cb-hide-medium cb-show-large">
                        <a href="{{ url_for('group.select') }}"  
                           class="w3-bar-item w3-button w3-hover-white">Select Client Group</a>
                    </div>
                    {% endif %}
                {% endif %}

                {% if current_user.is_authenticated %}
                <div class="cb-hide-small cb-show-medium cb-show-large">
                    <a href="{{ url_for('auth.logout') }}" 
                       class="w3-bar-item w3-button w3-right w3-hover-white">
                         Logout&nbsp{{ current_user.User }}</a>
                </div>
                <div class="cb-show-small cb-hide-medium cb-hide-large">
                    <a href="{{ url_for('auth.logout') }}" 
                       class="w3-bar-item w3-button w3-right w3-hover-white">
                         Logout</a>
                </div>
                {% else %}
                
                <div class="w3-dropdown-hover w3-right">
                    <a href="{{ url_for('auth.login') }}" 
                        class="w3-bar-item w3-button w3-hover-white">
                            Login           
                    </a>
                </div>
                
                <div class="w3-dropdown-hover w3-right">
                    <a href="{{ url_for('sms_client.create') }}" 
                        class="w3-bar-item w3-button w3-hover-white">
                            Registration          
                        <div class="w3-dropdown-content w3-card-4 w3-left w3-left-align" style="width:250px; right:0">
                            Sign up to use our messaging service. You will need your phone to prove
                            that you are not a robot.
                        </div>
                    </a>
                </div>
                <div class="cb-hide-small cb-show-medium cb-show-large">
                    <a href="{{ url_for('main.contact') }}" 
                        class="w3-bar-item w3-button w3-right w3-hover-white ">Contact Us</a>
                </div>

                <div class="w3-dropdown-hover w3-right cb-hide-small cb-show-medium cb-show-large">
                    <a href="{{ url_for('auth.lookup') }}" 
                        class="w3-bar-item w3-button  w3-hover-white">
                            Claim Username          
                        <div class="w3-dropdown-content w3-card-4  w3-left w3-left-align" style="width:250px; position: absolute;">
                            Set up a user profile and password.
                        </div>
                    </a>
                </div>
                {% endif %}
            </div>
        </div>

<!-- Sidbar if there is one in this template -->
{% block sidebar %}{% endblock %}



<!-- Flash messages -->
        {% with messages = get_flashed_messages( with_categories = true ) %}
            {% if messages %}
                <div class="w3-display-container cb-under-navbar">
                    
                {% for category, msg in messages %}
                    {% if category == 'error' %}
                    <div class="w3-panel w3-display-container w3-pale-red" style="z-index: 8;">
                        <span onclick="this.parentElement.style.display='none'"
                              class="w3-button w3-large w3-display-topright">&times;</span>
                                <p>{{ msg }}</p>
                    </div>
                    {% else %}
                    <div class="w3-panel w3-display-container w3-pale-blue" style="z-index: 8;">
                        <span onclick="this.parentElement.style.display='none'"
                              class="w3-button w3-large w3-display-topright">&times;</span>
                              <p>{{ msg }}</p>
                    </div>
                    {% endif %}
                    
                {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

<!-- Template content -->
        {% block content %}{% endblock %}

    </body>
    <script type="text/javascript">// listen for sse events or server problems
        var source = new EventSource("{{ url_for('sse.stream') }}");
        source.addEventListener('sms_message', function(event) {
          var message = JSON.parse(event.data);
          AddChatElement(message);
        }, false);
        source.addEventListener('sms_status', function(event) {
          var message = JSON.parse(event.data);
          UpdateChatStatus(message);
        }, false);
        source.addEventListener('client_profile', function(event) {
          var message = JSON.parse(event.data);
          AddSendPopup(message);
        }, false);
        source.addEventListener('client_list', function(event) {
          var message = JSON.parse(event.data);
          AddSelectElement(message);
        }, false);
        //source.addEventListener('error', function(event) {
        //  alert("Failed to connect to event stream. Is Redis running?");
        //}, false);
    </script>
    
    <!-- jquery to drive our nested menus -->
    <script>
        $(document).ready(function(){
          $('.dropdown-submenu a.test').on("click", function(e){
            $(this).next('ul').toggle();
            e.stopPropagation();
            e.preventDefault();
          });
        });
    </script>

</html>