<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>{% block title %}Colin Berry MD{% endblock %}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family==Roboto">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://kit.fontawesome.com/a5c38f1ae2.js" crossorigin="anonymous"></script> 
        <link rel="stylesheet" href="{{ url_for('static', filename='css/cbmd.css') }}">
    </head>
    <body>

<!-- Navbar -->

        <div class="w3-top">
            <div class="w3-bar w3-theme w3-top w3-left-align w3-large">
                <a class="w3-bar-item w3-button w3-left w3-hide-large w3-hover-white w3-large w3-theme-l1">
                    <i class="fa fa-bars"></i>
                </a>
                <a href="{{ url_for('main.index') }}" 
                   class="w3-bar-item w3-button w3-theme-l1"><i class='fas fa-home'></i></a>
 
                {% if current_user.is_admin %}
                <a href="{{ url_for('main.admin') }}"
                   class="w3-bar-item w3-button w3-hide-small w3-hover-white"><i class="fa fa-gear"></i></a>
                {% endif %}
                {% if current_user.is_authenticated %}
                <div class="w3-dropdown-hover">
                    <a class="w3-bar-item w3-button w3-hide-small w3-hover-white">
                        Current User: &nbsp{{ current_user.User }}&nbsp
                        <i class="fa fa-caret-down"></i>
                    </a>
                    <div class="w3-dropdown-content w3-bar-block w3-card-4">
                        <a href="{{ url_for('auth.logout') }}" 
                            class="w3-bar-item w3-button w3-hide-small w3-hover-white">
                            Logout
                        </a>
                        <a href="{{ url_for('auth.change_password',user_id=current_user.id) }}" 
                            class="w3-bar-item w3-button w3-hide-small w3-hover-white">
                            Change Password
                        </a>
                        <a href="{{ url_for('auth.profile',user_id=current_user.id) }}" 
                            class="w3-bar-item w3-button w3-hide-small w3-hover-white">
                            Profile
                        </a> 
                    </div>
                </div>
                {% endif %}

                {% if current_user.is_sms %}
                    {% if session['account_id'] %}
                    <div class="w3-dropdown-hover">
                        <a class="w3-bar-item w3-button w3-hide-small w3-hover-white">
                            Account: &nbsp{{ session['account_name'] }}
                            <i class="fa fa-caret-down"></i>
                        </a>
                        <div class="w3-dropdown-content w3-bar-block w3-card-4">
                            <a href="{{ url_for('account.close') }}" 
                               class="w3-bar-item w3-button w3-hide-small w3-hover-white">
                                Close Account
                            </a>
                            <a href="{{ url_for('account.select') }}" 
                               class="w3-bar-item w3-button w3-hide-small w3-hover-white">
                                Change Account
                            </a>
                            <a href="{{ url_for('account.profile',account_id=session['account_id']) }}" 
                               class="w3-bar-item w3-button w3-hide-small w3-hover-white">
                                Account Profile
                            </a>
                            <a href="{{ url_for('auth.select') }}" 
                               class="w3-bar-item w3-button w3-hide-small w3-hover-white">
                                Add User to Account
                            </a>
                        </div>
                    </div>
                    {% else %}
                    <a href="{{ url_for('account.select') }}"  
                       class="w3-bar-item w3-button w3-hide-small w3-hide-medium w3-hover-white">Select Account</a>
                    {% endif %}
                
                    {% if session['group_id'] %}
                    <div class="w3-dropdown-hover">
                        <a class="w3-bar-item w3-button w3-hide-small w3-hover-white">
                            Group:&nbsp{{ session['group_name'] }}
                            <i class="fa fa-caret-down"></i>
                        </a>
                        <div class="w3-dropdown-content w3-bar-block w3-card-4">
                            <a href="{{ url_for('group.close') }}" 
                               class="w3-bar-item w3-button w3-hide-small w3-hover-white">
                                Close Group
                            </a>
                            <a href="{{ url_for('group.select') }}" 
                               class="w3-bar-item w3-button w3-hide-small w3-hover-white">
                                Change Group
                            </a>
                            <a href="{{ url_for('group.profile',group_id=session['group_id']) }}" 
                               class="w3-bar-item w3-button w3-hide-small w3-hover-white">
                                Group Profile
                            </a>
                            <a href="{{ url_for('sms_client.select') }}" 
                               class="w3-bar-item w3-button w3-hide-small w3-hover-white">
                                Add Client to Group
                            </a>
                        </div>
                    </div>
                    {% else %}
                    <a href="{{ url_for('group.select') }}"  
                       class="w3-bar-item w3-button w3-hide-small w3-hide-medium w3-hover-white">Select Client Group</a>
                    {% endif %}
                {% endif %}

                {% if current_user.is_authenticated %}
                <a href="{{ url_for('auth.logout') }}" 
                   class="w3-bar-item w3-button w3-right w3-hide-small w3-hide-medium w3-hover-white">Logout</a>
                {% else %}
                
                <div class="w3-dropdown-hover w3-right">
                    <a href="{{ url_for('auth.login') }}" 
                        class="w3-bar-item w3-button  w3-hide-small w3-hide-medium w3-hover-white">
                            Login           
                        <div class="w3-dropdown-content w3-card-4 w3-left w3-left-align" style="width:250px; right:0">
                            Active account and password required.
                        </div>
                    </a>
                </div>
                
                <div class="w3-dropdown-hover w3-right">
                    <a href="{{ url_for('sms_client.create') }}" 
                        class="w3-bar-item w3-button  w3-hide-small w3-hide-medium w3-hover-white">
                            Registration          
                        <div class="w3-dropdown-content w3-card-4 w3-left w3-left-align" style="width:250px; right:0">
                            Sign up to use our messaging service. You will need your phone to prove
                            that you are not a robot.
                        </div>
                    </a>
                </div>

                <a href="{{ url_for('main.contact') }}" 
                   class="w3-bar-item w3-button w3-right w3-hide-small w3-hover-white">Contact Us</a>

                <div class="w3-dropdown-hover w3-right">
                    <a href="{{ url_for('auth.lookup') }}" 
                        class="w3-bar-item w3-button  w3-hide-small w3-hide-medium w3-hover-white">
                            Claim Username          
                        <div class="w3-dropdown-content w3-card-4 w3-left w3-left-align" style="width:250px; position: absolute;">
                            Set up a user profile and password.
                        </div>
                    </a>
                </div>
                {% endif %}
            </div>
        </div>

<!-- Flash messages -->
{% with messages = get_flashed_messages( with_categories = True ) %}
    {% if messages %}
        <div class="w3-container" style="margin-top: 32px;">
        {% for category, msg in messages %}
            {% if category == 'error' %}
            <div class="w3-panel w3-pale-red w3-border">
                <span onclick="this.parentElement.style.display='none'" class="w3-button w3-large w3-display-topright">&times;</span>
                <p>{{ msg }}</p>
            </div>
            {% else %}
            <div class="w3-panel w3-pale-blue w3-border">
                <span onclick="this.parentElement.style.display='none'" class="w3-button w3-large w3-display-topright">&times;</span>
                <p>{{ msg }}</p>
            </div>
            {% endif %}
        </div>
        {% endfor %}
    {% endif %}
{% endwith %}

<!-- Sidbar if there is one in this template -->
{% block sidebar %}{% endblock %}


<!-- Template content -->
{% block content %}{% endblock %}

    </body>
</html>