{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Claim Username: {{ user.User }}</h3>
    <div class="box">
        <form method="POST" action="{{ url_for('auth.claim', user_id = user.id) }}">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" name="password" placeholder="Password">
                </div>
            </div>
            
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" name="repeat_password" placeholder="Verify Password">
                </div>
            </div>
            
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="first" placeholder="First Name" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="last" placeholder="Last Name" autofocus="">
                </div>
            </div>
           
            <div class="field"> 
                <div class="control">                   
                    <input class="input is-large" type="email" name="email" placeholder="Email" autofocus="">
                </div>
            </div>

            <div class='field'>
                <div class="control">
                    <label for="translate">Use SMS Account</label>
                    <input class="input is-large" type="text" name="sms" placeholder="SMS Phone Number" autofocus="">
                </div>
            </div>
	
            <div class='field'>
                <div class="control">
                    <label for="translate">Translate from English to Spanish</label>
                    <input  class="input is-large" type="text" name="voice" 
                            placeholder="Voice Phone Number (optional)" autofocus="">
                </div>
            </div>

            <div class="control">
                <div class="field">
                    <label for="is_sms">Use SMS Account</label>
                    <input type="checkbox" name="is_sms" checked/>
                    
                </div>
            </div>
            <div class="control">
                <div class="field">
                    <label for="translate">Translate from English to Spanish</label>
                    <input type="checkbox" name="translate" checked/>
                    
                </div>
            </div>
            
            <button class="button is-block is-info is-large is-fullwidth">Sign Up</button>
    
        </form>
        <br/>
        <form method="GET" action="{{ url_for('main.index') }}"> 
            <button class="button is-block is-info is-large is-fullwidth">Cancel</button>
        </form>
    </div>
</div>
{% endblock %}
