{% extends "base.html" %}
{% block title %}Client Welcome{% endblock %}
{% block sidebar %}
<!-- Sidebar -->
        <nav class="w3-sidebar w3-bar-block w3-collapse w3-large w3-theme-l5 w3-animate-left" id="mySidebar">
            <a class="w3-right w3-xlarge w3-padding-large w3-hover-black w3-hide-large" title="Close Menu">
                <i class="fa fa-remove"></i>
            </a>
            <a class="w3-bar-item w3-button w3-hover-black" 
               href="https://www.w3schools.com/w3css/tryw3css_templates_webpage.htm#">Link</a>

            <a class="w3-bar-item w3-button w3-hover-black" 
               href="https://www.w3schools.com/w3css/tryw3css_templates_webpage.htm#">Link</a>

            <a class="w3-bar-item w3-button w3-hover-black" 
               href="https://www.w3schools.com/w3css/tryw3css_templates_webpage.htm#">Link</a>

            <a class="w3-bar-item w3-button w3-hover-black" 
               href="https://www.w3schools.com/w3css/tryw3css_templates_webpage.htm#">Link</a>
        </nav>

<!-- Overlay effect when opening sidebar on small screens -->
        <div class="w3-overlay w3-hide-large" style="cursor:pointer" title="close side menu" id="myOverlay"></div>
{% endblock %}
{% block content %}
<!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
        <div class="w3-main" style="margin-left:250px">

            <div class="w3-row w3-padding-64">
                <div class="w3-twothird w3-container">
                    <h1 class="w3-text-teal">Welcome to Our Website</h1>
                    <p>
                        If you are here because you want to exchange text messages with us you will need to 
                        <a href="{{ url_for('sms_client.create') }}">register by clicking here</a> or on
                        the button on the upper right or to the left.
                    </p>
                    <p>
                        Also to the left are buttons leading to our other website functions.
                    </p>
                    <p>
                        We promise never to use your information for spam or advertising. It is just that
                        adding you to our contacts list is the only way we can keep from getting spam ourselves.
                    </p>
                </div>
            </div>
        </div>
{% endblock %}