{% extends "base.html" %}
{% block title %}Contact Us{% endblock %}

{% block content %}
<div class="cb-main">
    <div class="cb-container padding-64">
        <h1 class="cb-header">Contact Us</h1>
        <p class="cb-links">
            If you need to make an appointment at our new location.<a href='https://lovelace.com/location/lovelace-health-care-center-roswell'>
            We will be at the Lovelace Clinic at 1112 N Main St.</a> 575-627-4200.
        </p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3330.6805074884887!2d-104.5260015253082!3d33.405498573407336!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x86e26ee0c1c1d845%3A0x46e91b5642b37597!2s1112%20N%20Main%20St%2C%20Roswell%2C%20NM%2088201!5e0!3m2!1sen!2sus!4v1693780783222!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <p>
            To exchange SMS text messages, send to 575-500-6262 (575-500-MAMA). Put this number in your contacts list. The people we rent the number from are famous for spam -- so if you use any blocker these will likely be blocked.
        </p>
        <p class="cb-links"><a href='https://lovelace.com/location/lovelace-health-care-center-roswell'>Click here</a> to be redirected to the Lovelace 
            page. There you can locate other Lovelace physicians, learn about Labor of Love, and check insurance coverage.
        </p>
    </div>
</div>
{% endblock %}