{% extends "base.html" %}
{% block title %}Colin Berry MD{% endblock %}

{% block content %}
<div class="w3-main">
    <div class="w3-twothird w3-container w3-padding-64">
        <h1 class="w3-text-teal">Colin Berry MD</h1>
        <h3 class="w3-text-teal">Welcome to Our Website</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
         ut labore et dolore magna aliqua. Ut enim ad minimveniam, quis nostrud exercitation ullamco 
         laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur 
         adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim 
         ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
</div>
{% endblock %}