{% extends 'base.html' %}


{% block title %} Messages {% endblock %}
{% block header %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/chat.css') }}">
{% endblock %}
{% block content %}
{# needs messages; a list of Message() #}
{# needs group = SMSGroup() #}
<div class="w3-row">
    <!-- div id="chat_column" class="w3-col s12 m8 l8" -->
    <div id="chat_column" class="w3-col cb-col-one-of-two">

        <div id="tab_parent" class="cb-container cb-container cb-bar cb-under-navbar" style="display: flex;">
            {% if messages %}
                {% for sender, their_messages in messages | groupby('sms_client.id') %}
                    {% with client = their_messages[0].sms_client %}
                        <button id="button_{{ sender }}" 
                            {% if loop.index == 1 %}
                                class="cb-bar-tab w3-left w3-block tablink active-tab" 
                            {% else %}
                                class="cb-bar-tab w3-left w3-block tablink" 
                            {% endif %}
                                onclick="openTab(event, 'chat_column', 'sms_{{ sender }}')" >
                            {{ client.firstname }}&nbsp{{ client.lastname }}
                        </button>
                    {% endwith %}
                {% endfor %}
            {% endif %}
        </div>

        <div id="chat_parent" class="cb-container">
            {% if messages %}
                {% for sender, their_messages in messages | groupby('sms_client.id') %}
                    <div id="sms_{{ sender }}" class="cb-container tabcontent"
                        {% if loop.index == 1 %}
                            style="display: block;"
                        {% else %}
                            style ="display:none;"
                        {% endif %}>
                        {% for m in their_messages %}
                            {% if m.Outgoing %}
                            <div id="id_{{ m.id }}" 
                                 class="chat-container chat-outgoing {% if m.sms_status %} status-{{m.sms_status}}{%endif%}">
                                <form id="form_{{ m.id }}" action="{{ url_for('message.archive', sms_id = m.id) }}"> 
                                    <span class="cb-close" onclick="submitFormAndHide('form_{{m.id}}')">&times;</span>
                                    <p>{{ m.Body }}</p>
                                    <!-- failure message will only show on failure -->
                                    <span name="flag-failure" class="chat-time-right">&nbspmessage failed</span>
                                    <span class="chat-time-right">{{ m.SentAt | pretty_timestamp }}</span>
                                </form>
                            </div>
                            {% else %}
                            <div id="id_{{ m.id }}" class="chat-container chat-incoming">
                                <form id="form_{{ m.id }}" action="{{ url_for('message.archive', sms_id = m.id) }}"> 
                                    <span class="cb-close" onclick="submitFormAndHide('form_{{m.id}}')">&times;</span>
                                    <p>{{ m.Body }}</p>
                                    <span class="chat-time-left">{{ m.SentAt | pretty_timestamp }}</span>
                                </form>
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endfor %}
            {% else %}
                    <div id="chat_placeholder" class="chat-container chat-incoming">
                        <p >No messages yet.</p>
                    </div> 
            {% endif%}
        </div>
    </div>
    {% if group %}
    <!-- div id="group_column" class="w3-col s12 m4 l4 cb-under-navbar"-->
    <div id="group_column" class="w3-col cb-col-two-of-two cb-under-navbar">
        <div id="group_parent" class="cb-container cb-container cb-bar" style="display: flex;">
            <button id="button_list" 
                    class="cb-bar-tab w3-left w3-block tablink active-tab" 
                    onclick="openTab(event,'group_column','group_list')" >
                {{ group.name }}
            </button>
            <button id="button_multiple" 
                    class="cb-bar-tab w3-left w3-block tablink" 
                    onclick="openTab(event,'group_column','group_multiple')" >
                Multiple
            </button>
            <button id="button_other_client" 
                    class="cb-bar-tab w3-left w3-block tablink" 
                    onclick="openTab(event,'group_column','group_other_client')" >
                Other Client
            </button>
        </div>
        <div id="group_list" class="cb-container tabcontent" style="display: block;">
        {% for member in group.clients %}
            <div class="cb-container">
                <a class="open-chat-popup" onclick="chatPopup('chatForm_{{member.id}}');">
                        {{ member.firstname }}&nbsp{{ member.lastname }}
                        <i class='far fa-comment' style='font-size:24px'></i>
                </a>
            </div>
            <div class="chat-popup cb-container" id="chatForm_{{member.id}}" 
                 style="display: none;">
                <span onclick="closePopup('chatForm_{{member.id}}')"
                      class="w3-large cb-button w3-display-topright">&times;</span>
                <form action="{{ url_for('message.send', client_id = member.id) }}" 
                      method="post">
                    <textarea class="w3-input" placeholder="Type message..." name="Body" required></textarea>
                    <div class="cb-bar padding-16">
                        <button type='submit' class="cb-button" 
                                onclick="closePopup('chatForm_{{member.id}}')">Send</button>
                    </div>
                </form>
            </div>
        {% endfor %}
        </div>
        <div id="group_multiple" class="cb-container tabcontent" style="display: none;">
            <form action="{{ url_for('message.multiple_send') }}" method="post">
                <ul style="list-style-type: none">
            {% for member in group.clients %}
                    <li>
                        <label for="check_{{member.id}}">{{ member.firstname }}&nbsp{{ member.lastname }}</label>
                        <input type="checkbox" id="check_{{member.id}}" name="selected" value="{{member.id}}" checked/>
                    </li>
            {% endfor %}
                </ul>
                <div class="chat-popup" style="display: block;">
                    <textarea class="w3-input" placeholder="Type message..." name="MultiBody" required></textarea>
                    <div class="cb-bar padding-16">
                        <button type='reset' class="cb-button" >Reset</button>
                        <button type='submit' class="cb-button">Send </button>
                    </div>
                </div>
            </form>
        </div>
        <div id="group_other_client" class="cb-container tabcontent" style="display: none;">
            <div id="search_block" style="display: block;">
                <form id="search_form" action="{{ url_for('sms_client.search') }}" method="post">
                    <div>
                        <label>Enter Search Terms</label>
                        <input  class="w3-input" type="text" name="firstname" placeholder="First Name"/>
                    
                        <input  class="w3-input" type="text" name="lastname" placeholder="Last Name"/>
                    
                        <input  class="w3-input" type="text" name="dob" placeholder="Date of Birth"/>
                    </div>
                    
                    <div class="cb-bar padding-16">
                        <button type='reset' class="cb-button" >Reset</button>
                        <button type='submit' class="cb-button">Search </button>
                    </div>
                </form>
            </div>
            <div id="select_block" style="display: none;">
                <form id="select_form" action="{{ url_for('sms_client.sse_select') }}" method="post">
                    <div id="client_select">
                        <label>Select One Client</label>
                        <!-- radio buttons for each client in list with javascript -->
                        <!--input  class="w3-input" type="radio" name="selection" value/-->
                    </div>
                    
                    <div class="cb-bar padding-16">
                        <button type='reset' class="cb-button" >Reset</button>
                        <button type='submit' class="cb-button">Select</button>
                    </div>
                </form>
            </div>
            <div id="profile_block" style="display: none;">
                <!-- create an action attribute like action=url_for('message.send', client_id = member.id)-->
                <form  id="profile_form" method="post">
                    <div id="client_profile">
                        <label>Message Client: </label>
                        <!-- put a profile of our selected client here with javascript -->
                    </div>
                    
                    <div class="chat-popup" style="display: inherit">
                        <textarea class="w3-input" placeholder="Type message..." name="Body" required></textarea>
                        <div class="cb-bar padding-16">
                            <button type='reset' class="cb-button" >Reset</button>
                            <button type='button' class="cb-button" onclick="submitFormAndClear('profile_form')">Send</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}