{% extends 'base.html' %}

{% block title %} Messages {% endblock %}
{% block longtitle %} List Recent Messages {% endblock %}
{% block refresh %} <meta http-equiv="refresh" content="300"> {% endblock %}
{% block content %}
    {% for message in messages %}
        <div class="w3-container w3-grey w3-border">
	    <p>From: {{ message['SentFrom'] }} To: {{ message['SentTo'] }}</p>
	    <p>{{ message['SentAt'] }}</p>
	    <p>{{ message['Body'] }}</p>
        </div>
    {% endfor %}
{% endblock %}
