{% extends 'base.html' %}

{% block title %}Client:&nbsp{{ client.firstname }}&nbsp{{ client.lastname }}{% endblock %}
{% block content %}
{# needs client = SMSClient() #}
<div class="w3-container">
    <h1 class='w3-padding-16' style="margin-top: 32px">Edit:&nbsp{{ client.firstname }}&nbsp{{ client.lastname }}</h1>
    <form method="POST" action="{{ url_for('sms_client.edit', sms_client_id = client.id ) }}">
        <div>
            <input class="input is-large" type="text" name="firstname" value={{ client.firstname }} />
            <label for="firstname">First Name</label>
        </div>
        <div>
            <input class="input is-large" type="text" name="lastname" value={{ client.lastname }} />
            <label for="lastname">Last Name</label>
        </div>
        <div>
            <input class="input is-large" type="text" name="dob" value={{ client.dob }} />
            <label for="dob">Date of Birth</label>
        </div>
        <div>
            <input class="input is-large" type="text" name="email" value={{ client.email }} />
            <label for="email">Email</label>
        </div>
        <div>
            <input class="input is-large" type="text" name="phone" value={{ client.phone }} />
            <label for="phone">Cell Phone</label>
        </div>
        <div>
            <input type="checkbox" name="translate" checked="{{ client.translate }}"/>
            <label for="translate">Translate from English to Spanish</label>
        </div>
        <div class="w3-bar w3-padding-16">
            <button type='submit' class="w3-button w3-black">Submit</button>
            <a href="{{ url_for('main.index') }}" class="w3-button w3-black">Cancel</a>
        </div>
    </form>
</div>
{% endblock %}
