{% extends 'base.html' %}

{% block title %}List Clients{% endblock %}
{% block content %}
{# needs clients; a list of SMSClient() #}
<div class="w3-container">
    <h1 class='w3-padding-16' style="margin-top: 32px;">Client List</h1>
    <form method="POST" action="{{ url_for('sms_client.list') }}">
        {% if clients %}
            {% for client in clients %}
                <div>
                    <input type="radio" id="choice_{{ client.id }}"
                           name="selection" value="{{ client.id }}">
                    <label for="choice_{{ client.id }}">{{ client.firstname }}&nbsp{{ client.lastname }}</label>
                </div>
            {% endfor %}
        {% else %}
            <h2>No client found in database.</h2>
        {% endif %}
        <div class="w3-bar w3-padding-16">
           <button type='submit' class="w3-button w3-black">Select</button>
           <a href="{{ url_for('main.index') }}" class="w3-button w3-black">Cancel</a>
        </div>
    </form>
</div>
{% endblock %}