{% extends 'base.html' %}

{% block title %}Client:&nbsp{{ client.firstname }}&nbsp{{ client.lastname }}{% endblock %}
{% block content %}
{# needs client = SMSClient() #}
<div class="w3-container">
    <h1 class='w3-padding-16' style="margin-top: 32px">{{ client.firstname }}&nbsp{{ client.lastname }}</h1>
    <p>{{ client.email }}</p>

    {% if client.dob %}
        <p>DOB: {{ client.dob.strftime('%m:%d:%Y') }}</p>
    {% endif %}

    <p>{{ client.phone }}</p>

    {% if client.translate %}
        <p>Requests translation</p>
    {% endif %}

    {% if client.blocked %}
    <p>This client is blocked.(Edit unblocks)</p>
    {% endif %}
    {% if session['group_name'] %}
    <a href="{{ url_for('group.add_client', client_id = client.id, group_id=session['group_id'] ) }}" 
                   class="w3-bar-item w3-button w3-theme-l1">Add to {{session['group_name']}} Group</i></a>
    {% endif %}
    <a href="{{ url_for('sms_client.edit', sms_client_id = client.id ) }}" 
                   class="w3-bar-item w3-button w3-theme-l1"><i class='fa fa-pencil'></i></a>
    <a href="{{ url_for('sms_client.delete', client_id = client.id ) }}" 
                   class="w3-bar-item w3-button w3-theme-l1"><i class='fa fa-trash'></i></a>
    <a href="{{ url_for('sms_client.block', client_id = client.id ) }}"
                   class="w3-bar-item w3-button w3-theme-l1">Block</a>
    <a href="{{ url_for('main.index' ) }}" 
                   class="w3-bar-item w3-button w3-theme-l1">Cancel</a>
</div>
{% endblock %}