{% extends "base.html" %}
{% block title %}Client Search{% endblock %}
{% block content %}
<div class="cb-container">
    <h1 class='cb-header'>Client Search</h1>
    <form method="POST" action="{{ url_for('sms_client.select') }}">
        <div>
            <label for="select_all">List All Clients</label>
            <input type="checkbox" name="select_all"/>
        </div>
        <div>
            <input  type="text" name="firstname" placeholder="First Name"/>
        </div>
        <div>
            <input  type="text" name="lastname" placeholder="Last Name"/>
        </div>             
        <div>
            <input  type="text" name="dob" placeholder="Date of Birth"/>
        </div>
        <div class="cb-bar padding-16">
           <button type='submit' class="cb-button cb-teal">Select</button>
           <a href="{{ url_for('main.index') }}" class="cb-button cb-teal">Cancel</a>
        </div>
    </form>
</div>
{% endblock %}
