{% extends "base.html" %}
{% block title %}Client Search{% endblock %}
{% block content %}
<div class="w3-container">
    <h1 class='w3-padding-16' style="margin-top: 32px;">Client Search</h1>
    <form method="POST" action="{{ url_for('sms_client.select') }}">
        <div>
            <label for="select_all">List All Clients</label>
            <input type="checkbox" name="select_all"/>
        </div>
        <div>
            <input  type="text" name="firstname" placeholder="First Name"/>
        </div>
        <div>
            <input  type="text" name="lastname" placeholder="Last Name"/>
        </div>             
        <div>
            <input  type="text" name="dob" placeholder="Date of Birth"/>
        </div>
        <div class="w3-bar w3-padding-16">
           <button type='submit' class="w3-button w3-black">Select</button>
           <a href="{{ url_for('main.index') }}" class="w3-button w3-black">Cancel</a>
        </div>
    </form>
</div>
{% endblock %}
