{# The terms and conditions for our website #}

<ul>
	<li>
		When you send us text messages, please remember that this is not a secure form of communication. It's really more like public wifi or a CB
		radio than talking on the phone.
	</li>
	<li>
		It is absolutely the wrong place to be talking about symptoms, private medical problems, lab results or prescriptions.
	</li>
	<li>
		That is particularly true regarding emergencies. Additionally, on our side of these messages, they do not go to our phone -- we need
		to be logged in to a computer server to respond. This means we won&apos;t see them right away. Again, wrong for emergencies.
	</li>
	<li>
		So if you have an emergency go to the hospital, call 911, or go to labor and delivery -- whichever you think is more appropriate. Send a text
		if you need help getting through on the phone, if you want us to look at something on MyChart, if you just remembered that question that was on the tip of your tongue at your last visit... Those things.
	</li>
	<li>
		You should also know that no one who uses this has any idea about billing. We can certianly help you get to the right people, but we won&apos;t have the answers ourselves.
	</li>
	<li>
		We intend to respond to all messages. If we don't seem to be, consider the possibility that the service may not be working and reach out some other way.
	</li>
	<li>
		Finally, we will not respond to or block messages that are abusive or involve private health information.f
	</li>
</ul>