{% extends 'base.html' %}
{% block title %}Terms and Conditions{% endblock %}
{% block content %}
<div class="cb-container">
    <h1 class='cb-header'>Terms and Conditions</h1>
    <form method="POST" action="{{ url_for('sms_client.terms')}}">
       <div class="client">
            <h3 class="name">{{ session['firstname'] }} {{ session['lastname'] }}</h3>
            {% if session['dob'] %}
                <p>DOB: {{ session['dob'] }}</p>
            {% endif %}
            <p>Email: {{ session['email'] }}</p>
            <p>SMS Phone: {{ session['phone'] }}</p>
            {% if session['translate'] %}
               <p>Traducir español al inglés</p>
            {% endif %}
        </div>
        <h3>Please actually read this. It isn&apos;t the usual boilerplate.</h3>
        {% include 'sms_client/t_and_c.html' %}
        <hr/>
        <label for="OTP">
            If your information above is correct and you accept these conditions,
            please enter the password we sent to your phone. To resend or fix your 
            information, use Try Again.
        </label>
        <hr/>
        <div>
            <input type="text" name="one_time_password" placeholder="xxxx"></input>
        </div>
        <div class="cb-bar padding-16">
            <button type='submit' class="cb-button cb-teal">Submit</button>
            <a href="{{ url_for('sms_client.create') }}" class="cb-button cb-teal">Try Again</a>
            <a href="{{ url_for('main.index') }}" class="cb-button cb-teal">Cancel</a>
        </div>
    </form>
</div>
{% endblock %}
